
{% extends "base.html" %}
{% block content %}
{% load staticfiles %}


	<div class="container-fluid contenedor">


		<div class="col-md-4">
			
		</div>

		<div class="col-md-4" style="margin-bottom:80px;">

			<div class="cont1">


			<div class="col-md-12" align="center">

			  <br>

			  <p class="cuentac">CREAR CUENTA</p>

			  <br>

			  <P><input type="" name="" class="datos" placeholder="NOMBRE"></P>
			  <P><input type="" name="" class="datos" placeholder="APELLIDO"></P>
			  <P><input type="" name="" class="datos" placeholder="CORREO"></P>
			  <P><input type="" name="" class="datos" placeholder="CONTRASEÑA"></P>
			  <P><input type="" name="" class="datos" placeholder="TELÈFONO"></P>
              
              <br>

			  <button class="registrar">REGISTRARSE</button>

				

			</div>



			</div>
			
		</div>

	 <div class="col-md-4">

	 	<div class="">

	 		<img src="">
	 		
	 	</div>
		
	 </div>


  <div class="row">


	<div class="col-md-6 cont4" align="right" style="padding-left:0px; padding-right:0px;">

		<div class="cont2" style="padding-top:10%; padding-left:10%; padding-right:10%; padding-bottom:10%;">

		<img src="https://res.cloudinary.com/dldzl80ld/image/upload/v1517156317/fotoNuestrosServicios_yyluh9.png" style="width:100%; height:60%;">

		
	    </div>

	  </div>

	<div class="col-md-6" align="left" style="padding-left:0px; padding-right:0px;">


		<div class="cont2" style="padding-top:10%; padding-left:10%; padding-right:10%; padding-bottom:8.9%;" align="center">

        <img src="http://res.cloudinary.com/dldzl80ld/image/upload/v1517156343/iconoServicios_a3waaq.png" style="width:10%;">

		<p class="titulo1" align="center" style="padding-top:10%;">"LAS EXPERIENCIAS QUE NECESITAS"</p>
		<br>

		<P class="parrafo1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</P>

		</div>
		
	</div>
		

   </div>


   <div class="row">

   	 <div class="col-md-12">

   	 	 <div class="cont3" style="padding-left:0%; padding-right:0%;  padding-top:5%; padding-bottom:15%;">

   	 	 	<div class="col-md-2" align="center">

   	 	 		<img src="http://res.cloudinary.com/dldzl80ld/image/upload/v1517156318/iconoRestauracion_mym91g.png" class="icon">
   	 	 		<p class="nombres">RESTAURACIÓN</p>
   	 	 		<p class="servicios">Lorem ipsum dolore amet, consectetur adipiscing elit em ipsum dolor sit amet, consectetur adipiscing elit.</p>
   	 	 		
   	 	 	</div>

   	 	 	<div class="col-md-2" align="center">

   	 	 		<img src="http://res.cloudinary.com/dldzl80ld/image/upload/v1517156311/iconoGarage_plrjtc.png" class="icon">
   	 	 		<p class="nombres">GARAGE</p>
   	 	 		<p class="servicios">Lorem ipsum dolore amet, consectetur adipiscing elit em ipsum dolor sit amet, consectetur adipiscing elit.</p>
   	 	 		
   	 	 	</div>

   	 	 	<div class="col-md-3" align="center">

   	 	 		<img src="http://res.cloudinary.com/dldzl80ld/image/upload/v1517156316/iconoModificacion_yyrcut.png" class="icon1">
   	 	 		<p class="nombres">MODIFICACIÒN / FABRICACIÒN</p>
   	 	 		<P class="servicios">Lorem ipsum dolore amet, consectetur adipiscing elit em ipsum dolor sit amet, consectetur adipiscing elit.</P>
   	 	 		
   	 	 	</div>

   	 	 	<div class="col-md-2" align="center">

   	 	 		<img src="http://res.cloudinary.com/dldzl80ld/image/upload/v1517156317/iconoRefacciones_zxc8tf.png" class="icon">
   	 	 		<p class="nombres">REFACCIONES</p>
   	 	 		<p class="servicios">Lorem ipsum dolore amet, consectetur adipiscing elit em ipsum dolor sit amet, consectetur adipiscing elit.</p>
   	 	 		
   	 	 	</div>

   	 	 	<div class="col-md-2" align="center">
   	 	 		<img src="http://res.cloudinary.com/dldzl80ld/image/upload/v1517156307/iconoAftermarket_w1x8ih.png" class="icon">
   	 	 		<p class="nombres">AFTERMARKET</p>
   	 	 		<p class="servicios">Lorem ipsum dolore amet, consectetur adipiscing elit em ipsum dolor sit amet, consectetur adipiscing elit.</p>


   	 	 		<br>
   	 	 		<br>
   	 	 		
   	 	 	</div>
   	 	 	

   	 	 </div>

   	 </div>
   

   </div>



{% endblock %}
